body {
  margin: 0;
  font-family: "Lucida Grande";
}

a{
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  
}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0;
}

header {
  height: 55px;
  width: 100%;
   background-color:#F7F7F7;
   position: fixed;
   z-index: 1000;
}


.logo{
  width: 118px;
  margin-top:0;
  padding-left: 20px;
}



.header-left{
  float: left;
}

.header-right{
  float: left;
  padding-left: 20px;
  margin: 0;
}

.header-right a{
  list-style: none;
  float: left;
  margin-right: 20px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 15px;
  display: block;
  padding-bottom: 5px;
  color: black;
}

.header-right a:hover{
  background-color: white;

}


.top-wrapper{
	padding-top: 200px;
	padding-bottom: 180px;
	color: white;
	background-image: url(img/gmbr2.jpg);
  background-size: cover;
  text-align:left;	
}

.top-wrapper h1{
  opacity:1;
  font-size:45px;
  letter-spacing:5px ;
  margin-bottom: 10px;
  color: white;
}

.top-wrapper p{
  opacity:0.7;
  margin-bottom:3px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.btn{
  padding:12px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius: 4px;
}

.btn:hover{
  opacity: 1;
}

.koleksi{
  background-color: tomato;
}

.btn-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-wrapper p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-wrapper{
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}

.heading{
  padding-top: 20px;
  padding-bottom: 10px;
  color: #5f5d60;
  width: 1200px;
}

.produk{
  float: left;
  width: 25%;
}

.produk h2{
  text-align: left;
}

.gambar{
  height: 200px;
}

.produk-icon{
  position: relative;
  width: 50%;
}

.beli{
  background-color: tomato;
}