body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}
.top-wrapper{
margin:0;

}

.container{
  width: 1170px;
  padding: 0 15px;
  margin: 0;
}

header{
  height: 55px;
  width: 100%;
   background-color:#F7F7F7;    
   /*#01374F*/
   position: fixed;
   z-index: 1000;
}

.logo{
  width: 99px;
  margin-top:5px;
  padding-left: 20px;
}

.header-left{
  float: left;
}

.header-right{
  float: left;
  padding-left: 20px;
  margin: 0;
}

.header-right a{
  list-style: none;
  float: left;
  margin-right: 20px;
  line-height: 50px;
  padding-left: 20px;
  padding-right: 15px;
  display: block;
  padding-bottom: 5px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
}

.header-right a:hover{
  background-color:white ;
/*rgba(255, 255, 255, 0.5)*/
}
.top-wrapper{
  background-image: url(img/gmbr2.jpg);
  padding-top: 130px;
  padding-bottom: 180px;
  color: white;
  background-size: cover; 
}

.btn{
  padding:12px 24px;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;

}

.btn:hover{
  opacity: 1;
}

.koleksi{
  background-color: tomato;
  color: white;
}

.top-wrapper h1{
  opacity:1;
  font-size:45px;
  letter-spacing:5px ;
  margin-bottom: 10px;
  color: white;
}

.top-wrapper p{
  opacity:0.7;
  margin-bottom:3px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;

}

.lesson-wrapper{
  height:450px;
  padding-bottom: 80px;
  background-color:#f7f7f7 ;
}

.heading{
  padding-top:30px;
  padding-bottom:20px;
  color:#5f5d60;
}

.lesson{
  padding-top: 30px;
  padding-bottom:30px;
  width: 25%;
  float: left;

}

.lesson-icon img{
  position: relative;
  width: 50%;
  height: 200px;
  padding-left: 150px;
}

.lesson p{
 padding-left: 150px;
}

.beli{
  background-color: tomato;
  margin-left: 150px;
  color: white;
}

.second-wrapper{
  height:300px;
  padding-bottom: 80px;
  background-color: black;
}

.heading1 h2{
  text-align: center;
  color: white;
}

.konten a{
float: left;

}
.pev{
  padding-left: 300px;
  height: 300px;
}

.pel{
  height: 300px;
}

.third-wrapper{
  height: 200px;
  background-color: #f4f4f4;
}

.footer {
    list-style: none;
    float: left;
    margin-right: 20px;
    line-height: 50px;
    padding-left: 20px;
    padding-right: 15px;
    display: block;
    padding-bottom: 5px;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    background-color: #F7F7F7;
    color: #878c94;
}

.footer-title {
    text-align: left;
    color: #fff;
    font-size: 25px;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.footer .social-icon {
    padding: 0px;
    margin: 0px;
}

.footer .social-icon a {
    display: inline-block;
    color: #fff;
    font-size: 25px;
    padding: 5px;
}

.footer .acount-icon a {
    display: block;
    color: #fff;
    font-size: 18px;
    padding: 5px;
    text-decoration: none;
}

.footer .acount-icon .fa {
    margin-right: 25px;
}

.footer-category a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding: 5px 20px;
    margin: 1px;
    border-radius:4px;
    margin-top: 6px;
    background-color: #F7F7F7;
    border: solid 1px #fff;
}

.footer-payment {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}
