body {
  margin: 0;
  font-family: "Lucida Grande";
}

a{
  text-decoration: none;
  color: white;
}

li {
  list-style: none;
  
}

.container{
  padding: 0 15px;
  margin: 0 auto;
  width:1170px;

}

header {
  background-color: #2C373E;
  color: #fff;
  height: 65px;
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.header-logo {
  float: left;
  font-size: 36px;
  padding-top: 1px;
  
}

.header-list li{
  float: left;
  padding:10px 30px;	
}

.logo{
	width: 124px;
	margin-top: 10px;
}

.header-right1{
	float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.5s;
}

.login{
	line-height:30px;
	padding: 0 25px;
  color: white;
  display: block;
}

.top-wrapper{
	padding-top: 200px;
	padding-bottom: 400px;
	color: white;
	background-image: url(img/gmbr2.jpg);
  background-size: cover;
  text-align:left;	
}

.top-wrapper h1{
  opacity:1;
  font-size:45px;
  letter-spacing:5px ;
  margin-bottom: 10px;
  color: white;
}

.top-wrapper p{
  opacity:0.7;
  margin-bottom:3px;
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
}

.btn{
  padding:12px 24px;
  color:white;
  display:inline-block;
  opacity:0.8;
  border-radius: 4px;
}

.btn:hover{
  opacity: 1;
}

.koleksi{
  background-color: tomato;
}

.btn-wrapper{
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-wrapper p{
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-wrapper{
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
}

.heading{
  padding-top: 20px;
  padding-bottom: 10px;
  color: #5f5d60;
  width: 1200px;
}

.produk{
  float: left;
  width: 25%;
}

.produk h2{
  text-align: left;
}

.gambar{
  height: 200px;
}

.produk-icon{
  position: relative;
  width: 50%;
}

.beli{
  background-color: tomato;
}